[submodule "Submodules/PIMPL"]
	path = Submodules/PIMPL
	url = https://github.com/macmade/PIMPL.git
[submodule "Submodules/gmock-xcode"]
	path = Submodules/gmock-xcode
	url = https://github.com/macmade/gmock-xcode
[submodule "Submodules/makelib"]
	path = Submodules/makelib
	url = https://github.com/macmade/makelib.git
[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
